#container {
    height: 89%;
    position: relative;
}

agm-map {
    height: 100%;
    position: relative;
}

mat-form-field.full {
    width: 100%;
}

mat-form-field.half{
    width:45%;
    margin-right: 10px;
}

mat-form-field.third{
    width: 30%;
    margin-right: 10px;
}

mat-form-field.quarter{
    width:20%;
    margin-right: 10px;
}

mat-card{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.marker-icon {
    height: 40px;
    width: 40px;
    border: 1px dashed darksalmon;
    margin-right: 10px;
}

.marker-drawer-container {
    height: 100%;
    position: relative;
}

.marker-drawer {
    padding: 20px;
    max-width: 350px;
    border-right: 2px solid #3f51b5;

}