<ng-progress></ng-progress>
<mat-toolbar color="primary" style="height: 5%;">
  <span>{{ title }}</span>
  <span class="flex"></span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
    <button mat-menu-item routerLink="/map-editor" routerLinkActive="active">Map Editor</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
