<div id="container">
  <mat-drawer-container class="marker-drawer-container" autosize [hasBackdrop]="false">
    <mat-drawer #drawer class="marker-drawer" mode="side" color="primary" [mode]="over">
      <h3>Marker Properties</h3>
      <mat-form-field class="full">
        <input matInput #markerTitle placeholder="Marker Title" [(ngModel)]="_activeMarker.title" autofocus/>
      </mat-form-field>
      <mat-form-field class="half">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" placeholder="Latitude" [(ngModel)]="_activeMarker.lat" />
      </mat-form-field>
      <mat-form-field class="half">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" placeholder="Longitude" [(ngModel)]="_activeMarker.lng" />
      </mat-form-field>
      <h3>Range Properties</h3>
      <mat-form-field class="third">
        <mat-label>Radius</mat-label>
        <input matInput type="number" [(ngModel)]="_activeMarker.circle.radius" min="1" step="1"/>
      </mat-form-field>
      <mat-form-field class="third">
        <mat-label>Color</mat-label>
        <input matInput type="color" [(ngModel)]="_activeMarker.circle.fillColor"/>
      </mat-form-field>
      <mat-form-field class="third">
        <mat-label>Opacity</mat-label>
        <input matInput type="number" [(ngModel)]="_activeMarker.circle.opacity" min="0" max="1" step=".05"/>
      </mat-form-field>
    </mat-drawer>
    <agm-map #gmap
             [latitude]="lat"
             [longitude]="lng"
             [mapDraggable]="draggable"
             [zoom]="zoom"
             [styles]="styles"
             [disableDoubleClickZoom]="true"
             (dragover)="onDragOver($event)"
             (drop)="addMarker($event)"

    >
      <native-map></native-map>
      <agm-marker
          *ngFor="let m of getMarkers(); let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [iconUrl]="m.icon"
          [markerDraggable]="m.draggable"
          (markerClick)="showMarkerWindow(drawer,m,i) && markerTitle.focus()"
          (dragEnd)="updateMarkerProps(m,i,$event)">
        <agm-circle
            [latitude]="m.lat"
            [longitude]="m.lng"
            [radius]="m.circle.radius"
            [fillColor]="m.circle.fillColor"
            [fillOpacity]="m.circle.opacity"
        ></agm-circle>
      </agm-marker>

    </agm-map>
  </mat-drawer-container>
</div>
<mat-toolbar color="primary" class="footer">
  <div  id="div1">

    <img
        src="../../../assets/GMapMarker.png"
        class="marker-icon"
        draggable="true"/>
    <img
        src="../../../assets/blueMarker.png"
        class="marker-icon"
        draggable="true"/>
  </div>

</mat-toolbar>


