/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

agm-map{
    height:100%;
    width:100%;
}

.flex{
    flex: 1 1 auto;
}